* {
    box-sizing: border-box;
  }
  
body {
    max-width:4096px;
    height: 100%;
    margin: 0 auto;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-size: large;
    background: url(images/Projekt\ bez\ nazwy-3.png);
    background-position: bottom;
    background-repeat: repeat;
}
.countdown {
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.countdown h1 {
    font-size: 2em;
    margin-bottom: 20px;
}
.countdown .time {
    font-size: 1.5em;
    margin: 10px 0;
}
.countdown__blocks{
    display: flex;
    list-style: none;
    justify-content:center;
    flex-grow: 1;
    align-items: center;
    margin-bottom: 20px;
    padding: auto;
    border-radius: 2%;
}
.timeBlock1{
    background-color:#f7f7e8;
}
.timeBlock2{
    background-color:#c7cfb7
}
.timeBlock3{
    background-color: #9dad7f;
}
.timeBlock4{
    background-color: #557174;
}
.container{
    max-width: 900px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px auto;
    border-radius: 1%;

}
.header{
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 6rem;
    background: url(images/wedding-web-photo-01.JPG);
    background-size:cover;
    background-position: relative;
    padding: 100px;
    margin: 0;
    height: 900px;
    color: white;
}
.nav{
    background-color: #F5F5EF;
    max-height: 200px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    padding: 10px 0;
    color: black;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    opacity: 90%;
    font-size: x-large;
}
.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    font-size: larger;
    
}
.nav a{
    margin: 5px 0;
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 0 1rem;
}
.section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section__paragraph{
    margin: 0;
    padding: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.section__paragraph--GPSLink{
    text-decoration: none;
    color: blue;
}
.section__image{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 860px;
    max-height: 690px;
    margin: auto;
}
.section__image--icon{
    max-width: 200px;
    max-height: 200px;
    margin: 0;
    padding: 0;
}
@media (max-width:576px){
    .body{
        font-size: medium;
        margin: 0 auto;
    }
    .countdown__blocks{
        font-size: medium;
        padding: 40px 20px;
    }
    .nav{
        flex-wrap: wrap;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        font-size: medium;
    }
    .nav a{
        padding: 0.25rem;
    }
    .header{
        font-size:2.5rem;
        height: 20%;
        width: 100%;
        padding: 10px 200px 200px 10px;
    }
    .footer__phoneNumber{
        font-size: large;
    }
    .section__image{
        margin: 0;
        max-width: 300px;
    }
    .section__image--icon{
        max-width: 100px;
        max-height: 100px;
    }
    .footer__header{
        display: flex;
        margin: 0px;
    }
    .footer__phoneNumber .footer__phoneNumber--link{
        font-size: large;
        justify-content: flex-start;
    }
}
.footer{
    display: flex;
    margin: 0px auto;
    flex-direction: column;
    align-items: center;
    color:black;
    padding: 20px;
}
.footer__header{
    padding-top: 20px;
    display: flex;
    margin: 0px auto;
}
.footer__phoneNumber{
    margin: 0px auto;
    flex-wrap: wrap;
    align-items: center;
    margin: 0px;
    padding: 5px;
    font-size: large;
}
.footer__phoneNumber--link{
    text-decoration: none;
    color: black;
    padding: 10px;
}


